/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  background: #fff;
  color: #3d3d3d;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Karla", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  margin-top: 88px;
  margin-bottom: 88px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-title {
  position: relative;
  font-size: 36px;
  margin: 0 0 60px 0;
  font-family: "Rubik", sans-serif;
}

.section-title::after {
  position: absolute;
  content: "";
  bottom: -20px;
  left: 50%;
  width: 50px;
  height: 10px;
  transform: translateX(-50%);
  background: #fa983a;
}

.btn {
  background: #e55039;
  border: none;
  width: 150px;
  height: 60px;
  color: #fff;
  font-weight: bold;
  font-size: 120%;
  margin-top: 20px;
}

.btn:hover {
  cursor: pointer;
}

/* Splash */
.splash {
  height: 100vh;
  position: relative;
  background-image: url("https://images.pexels.com/photos/64699/pexels-photo-64699.jpeg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.splash-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splash i {
  font-size: 30px;
  background: #fa983a;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  border-radius: 50%;
}

.page-title {
  color: #fff;
  font-size: 60px;
  margin: 48px 0 0 0;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
}

.page-title::after {
  position: absolute;
  content: "";
  top: 220px;
  left: 50%;
  width: 100px;
  height: 10px;
  transform: translateX(-50%);
  background: #fa983a;
}

.page-subtitle {
  color: #fff;
  font-size: 20px;
  margin: 48px 0 0 0;
}

/* Intro */
.intro {
  background: #fff;
}

.intro p {
  width: 70%;
  margin: 0 auto;
  padding: 48px 0;
  font-size: 24px;
  border-top: 1px solid #fa983a;
  border-bottom: 1px solid #fa983a;
}

/* About */
.about {
  background: #60a3bc;
}

/* Skills */
.skill-left, .skill-right {
  position: relative;
}

.skill-image {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.skill-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s;
}

.skill-right .skill-image {
  right: 0;
}

.skill-right .skill-description {
  padding: 36px 55% 36px 0;
  text-align: right;
}

.skill-left .skill-description {
  padding: 6px 0 36px 55%;
  text-align: left;
}

.skill-title {
  letter-spacing: 2px;
}

.skill-image img:hover {
  transform: scale(2);
}

.row::before, .row::after {
  clear: both;
  content: "";
  display: table;
}

.location-title {
  letter-spacing: 2px;
  margin-bottom: 0;
  color: #fff;
  font-size: 200%;
  font-weight: bold;
}

.tile-inner-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.tile-inner-location {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 2;
}

.tile-outer {
  float: left;
  width: 33.3333%;
  height: 300px;
  position: relative;
}

.tile-outer::after {
  position: absolute;
  content: "";
  display: none;
  width: 100%;
  height: 100%;
  background: grey;
  opacity: 0.6;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.tile-outer:hover::after {
  display: block;
}

.tile-outer:hover {
  cursor: pointer;
}

.tile-outer:hover .tile-inner-location {
  display: inline;
}

/* Contact form */
.contact-form {
  background: #b2bec3;
}

input, textarea {
  display: block;
  margin: 7px auto;
  padding: 10px;
  border: 1px solid grey;
  width: 320px;
}

input {
  height: 40px;
}

textarea {
  resize: vertical;
}

::-webkit-input-placeholder {
  font-family: "Karla", sans-serif;
  font-size: 120%;
}

/* Footer */
.page-footer {
  background: #000;
  color: #fff;
  padding: 10px;
}
